<header>
  <nav>
    <ul class="nav nav-pills">
      <li role="presentation"><a href="/">Landing</a></li>
      <li role="presentation"><a href="/projects">Projects</a></li>
      <li role="presentation"><a href="/projects/new">New</a></li>
    </ul>
  </nav>
</header>
