<header>
  <nav>
    <div class="container">
      <ul class="nav nav-pills">
        <li role="presentation"><a href="/">Communal Project Gallery</a></li>
        <li role="presentation"><a href="/projects">Projects</a></li>
        <li role="presentation"><a href="/projects/new">New</a></li>
      </ul>
    </div>
  </nav>
</header>
