<section>
  <div class="jumbotron">
    <div class="container">
      <h1>Communal Project Gallery</h1>
      <p>A place for user submitted projects to be displayed and admired</p>
      <p><a class="btn btn-primary btn-lg" href="/projects" role="button">Enter</a></p>
    </div>
  </div>
</section>
