<section class="container">
  <div class="row title-banner">
    <div class="col-sm-12">
      <div class="page-header">
        <h1>Jack Matthews is not a creative studio for a digital-first world.</h1>
      </div>
    </div>
  </div>
  <% projects.forEach(function(project, i, projects){ %>
    <% if (i === 0 || i % 2 === 0) { %>
      <div class="row">
    <% } %>
    <div class="col-xs-12 col-sm-6 project-box">
      <a href="/projects/naughts-and-crosses" class="thumbnail pic1">
        <div  style="height: 300px; width: 300px">
          <h3 class="title"><%= project.titles[0].main %></h3>
          <h4><%= project.creator %></h4>
        </div>
      </a>
    </div>
    <% if ((i+1) % 2 === 0 || i === projects.length-1) { %>
      </div>
    <% } %>
  <% }) %>
</section>
